<div class="container">
    <div class="col-md-4" *ngFor="let item of items | async">
        <h3>{{item.name}}</h3>
        <div>
            <img src="{{item.image}}" alt="Images" style="width:50% " />
        </div>

        <div class="col-sm-6 col-lg-6 purchase-btn">
            <h4 class="h5 pull-left">{{item.price|currency}}</h4>
            <input type="button" class="btn btn-primary pull-right" name="buy" value="Buy">

        </div>
    </div>
    <!--<img [src]="{{item.image}}" alt="Images">-->
</div>