/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Roboto";
}

.navbar {
    margin-bottom: 0px !important;
}

.purchase-btn {
    margin-top: 7px;
}